{% extends "app/layout.html" %}

{% block content %}


<div class="nome">
	{% if detalhamento_amortecedor.amortecedor_codigo %}
    	Codigo Amortecedor: {{ detalhamento_amortecedor.amortecedor_codigo}}
	{% endif %}
</div>
<p>Diametro do Amortecedor: {{ detalhamento_amortecedor.amortecedor_diametro_externo }}</p>
<p>Curso do Amortecedor: {{ detalhamento_amortecedor.amortecedor_curso }}</p>

<div id="temperatura" style="min-width: 300px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        
                

{% endblock %}


{% block scripts %}

    
<style type="text/css">
    ${demo.css}
</style>

{% endblock %}
