{% extends "app/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Resultado do teste {{detalhamento_do_teste.teste_nome}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Informações básicas
            </div>
            <div class="panel-body">
                <!--Cabeçalho do Gráfico-->
                <div class="nome">
                    {% if detalhamento_do_teste.teste_nome %}
                        <label>Nome do teste: {{ detalhamento_do_teste.teste_nome }}</label>
                    {% endif %}
                </div>
                <div class="row">
                    <label class="col-sm-4 form-control-label">Ciclos: {{ detalhamento_do_teste.teste_quantidade_ciclo }}</label>
                </div>
                <div class="row">
                    <label class="col-sm-4 form-control-label">Velocidade do motor: {{ detalhamento_do_teste.testeVF_velocidade }}</label> 
                </div>
                <div class="row">          
                    <label class="col-sm-4 form-control-label">Tempo total do teste: {{ detalhamento_do_teste.teste_tempo_total }}</label>
                </div> 
                <div class="row">
                    <label class="col-sm-4 form-control-label">Observações: {{detalhamento_do_teste.teste_observacoes|linebreaks }}</label>
                </div> 

                <h4 class="page-header"></h4>
                <!-- Gráfico-->
                <div id="temperatura" style="min-width: 300px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                <div id="forcaTempo" style="min-width: 300px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                <div id="forcaDeslocamento" style="min-width: 300px; height: 400px; max-width: 600px; margin: 0 auto"></div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-8">
           
    </div>
</div>
{% endblock %}


{% block scripts %}
    
<style type="text/css">
    ${demo.css}
</style>

<script type="text/javascript">

    $(function () {
        $.LoadingOverlay("show");

        // Hide it after 3 seconds
        // setTimeout(function(){
        //     $.LoadingOverlay("hide");
        // }, 3000);

        // Esconde a imagem the loading quando o gráfico termina de plotar as informações
        $.when(grafico()).then(terminarLoaging());
        $.when(grafico1()).then(terminarLoaging());
        $.when(grafico2()).then(terminarLoaging());
        
    });

    // Plota o gráfico na tela
    function grafico() {
        
        
        $('#temperatura').highcharts({
            chart: {
                type: 'spline',
                inverted: true
            },
            title: {
                text: 'Temperatura por Ciclo'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                reversed: false,
                title: {
                    enabled: true,
                    text: 'Temperatura'
                },
                labels: {
                    formatter: function () {
                        return this.value + 'ºC';
                    }
                },
                maxPadding: 0.05,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Ciclo'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                },
                lineWidth: 2
            },
            legend: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x} ºC: {point.y} Ciclo'
            },
            plotOptions: {
                spline: {
                    marker: {
                        enable: false
                    }
                }
            },
            series: [{
                name: 'Tempo',
                data: {{ detalhamento_do_teste.graficoTemp }}
            }]
        });
    }
    function grafico1() {
        
        
        $('#forcaTempo').highcharts({
            chart: {
                type: 'spline',
                inverted: true
            },
            title: {
                text: 'Força por Ciclo'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                reversed: false,
                title: {
                    enabled: true,
                    text: 'Força'
                },
                labels: {
                    formatter: function () {
                        return this.value + 'N';
                    }
                },
                maxPadding: 0.05,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Ciclo'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                },
                lineWidth: 2
            },
            legend: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x} N: {point.y} Ciclo'
            },
            plotOptions: {
                spline: {
                    marker: {
                        enable: false
                    }
                }
            },
            series: [{
                name: 'Tempo',
                data: {{ detalhamento_do_teste.graficoForcaTempo }}
            }]
        });
    }
    function grafico2() {
        
        
        $('#forcaDeslocamento').highcharts({
            chart: {
                type: 'spline',
                inverted: true
            },
            title: {
                text: 'Força por posição'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                reversed: false,
                title: {
                    enabled: true,
                    text: 'Força'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                },
                maxPadding: 0.05,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Posição'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                },
                lineWidth: 2
            },
            legend: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x} N: {point.y} '
            },
            plotOptions: {
                spline: {
                    marker: {
                        enable: false
                    }
                }
            },
            series: [{
                name: 'Tempo',
                data: {{ detalhamento_do_teste.graficoForcaDeslocamento }}
            }]
        });
    }

    // Esconde a imagem de loading
    function terminarLoaging() {
         $.LoadingOverlay("hide");
    }

</script>
{% endblock %}