{% extends "app/layout.html" %}

{% block content %}


     <div class="page-wrapper">
        <div class="nome">
        	{% if detalhamento_do_teste.teste_nome %}
            	Nome do teste: {{ detalhamento_do_teste.teste_nome }}
        	{% endif %}
        </div>
        <p>Velocidade do motor: {{ detalhamento_do_teste.testeVF_velocidade }}</p>
        <p>Ciclos: {{ detalhamento_do_teste.teste_quantidade_ciclo }}</p>
        <p>Tempo total do teste: {{ detalhamento_do_teste.teste_tempo_total }}</p>
        <p>Observações: {{ detalhamento_do_teste.teste_observacoes|linebreaks }}</p>

        <div id="temperatura" style="min-width: 300px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        
    </div>
        
        

{% endblock %}


{% block scripts %}

    
        <style type="text/css">
${demo.css}
        </style>
        <script type="text/javascript">



$(function () {
    $.LoadingOverlay("show");

    // Hide it after 3 seconds
    // setTimeout(function(){
    //     $.LoadingOverlay("hide");
    // }, 3000);


    $.when(grafico()).then(terminarLoaging());


    
});


function grafico() {
    
    
    $('#temperatura').highcharts({
        chart: {
            type: 'spline',
            inverted: true
        },
        title: {
            text: 'Temperatura por Ciclo'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            reversed: false,
            title: {
                enabled: true,
                text: 'Temperatura'
            },
            labels: {
                formatter: function () {
                    return this.value + 'ºC';
                }
            },
            maxPadding: 0.05,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Ciclo'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            },
            lineWidth: 2
        },
        legend: {
            enabled: false
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br/>',
            pointFormat: '{point.x} ºC: {point.y} Ciclo'
        },
        plotOptions: {
            spline: {
                marker: {
                    enable: false
                }
            }
        },
        series: [{
            name: 'Tempo',
            data: {{ detalhamento_do_teste.graficoTemp }}
        }]
    });
}

function terminarLoaging() {
     $.LoadingOverlay("hide");
}

</script>
        
        
        
    


{% endblock %}
