{% extends "app/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><center>Resultado do teste</center></h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                
                <b>Informações básicas</b>
                
                <button type="button" class="btn btn-default btn-md" id="btn">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                </button>

            </div>
            <div class="panel-body">
                <!--Cabeçalho do Gráfico-->

                <!-- Dados do Teste -->
                <h4 class="page-header"><span class="span_h2">Dados do teste:</span></h4>
                <div class="nome row">
                    {% if detalhamento_do_teste.teste_nome %}
                    <div class="col-sm-3">
                        <label>Nome do teste:</label>
                    </div>
                    <div class="col-sm-3">
                        {{ detalhamento_do_teste.teste_nome }}
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-control-label">Ciclos:</label>
                    </div>
                    <div class="col-sm-3">
                        {{ detalhamento_do_teste.teste_quantidade_ciclo }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-control-label">Velocidade do motor:</label>
                    </div> 
                    <div class="col-sm-1">
                        {{ detalhamento_do_teste.testeVF_velocidade }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-control-label">Tipo de teste:</label>
                    </div> 
                    <div class="col-sm-3">
                        {{ detalhamento_do_teste.tipo_teste }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-control-label">Observações:</label>
                    </div>
                    <div class="col-sm-8">
                        {{detalhamento_do_teste.teste_observacoes|linebreaks }}
                    </div>
                </div> 
                
                <h4 class="page-header"><span class="span_h2">Dados do mortecedor:</span></h4>
                <!-- Dados do Amortecedor-->
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-control-label">Código do amortecedor:</label>
                    </div>
                    <div class="col-sm-3">
                        {{ detalhamento_do_teste.amortecedor.amortecedor_codigo }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-control-label">Diametro:</label>
                    </div>
                    <div class="col-sm-3">
                        {{ detalhamento_do_teste.amortecedor.amortecedor_diametro_externo}}
                    </div>
                </div>

            <h4 class="page-header"></h4>
            <!--            Gráficos                 -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                              <div id="forcaTempo" style="min-width: 200px; height: 300px; max-width: 600px; margin: 0 auto"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div> 

                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                              <div id="forcaDeslocamento" style="min-width: 200px; height: 300px; max-width: 600px; margin: 0 auto"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>


            </div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-8">
           
    </div>
</div>
{% endblock %}


{% block scripts %}
    
<style type="text/css">
    ${demo.css}
</style>

<script type="text/javascript">

    $(function () {
        $.LoadingOverlay("show");

        // Hide it after 3 seconds
        // setTimeout(function(){
        //     $.LoadingOverlay("hide");
        // }, 3000);

        // Esconde a imagem the loading quando o gráfico termina de plotar as informações
        $.when(grafico1()).then(terminarLoaging());
        $.when(grafico2()).then(terminarLoaging());
        
    });

    // Plota o gráfico na tela
    function grafico1() {
        $('#forcaTempo').highcharts({
            chart: {
                type: 'spline',
                inverted: true
            },
            title: {
                text: 'Força por Ciclo'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                reversed: false,
                title: {
                    enabled: true,
                    text: 'Força'
                },
                labels: {
                    formatter: function () {
                        return this.value + 'N';
                    }
                },
                maxPadding: 0.05,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Ciclo'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                },
                lineWidth: 2
            },
            legend: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x} N: {point.y} Ciclo'
            },
            plotOptions: {
                spline: {
                    marker: {
                        enable: false
                    }
                }
            },
            series: [{
                name: 'Tempo',
                data: {{ detalhamento_do_teste.graficoForcaTempo }}
            }]
        });
    }
    function grafico2() {
        
        
        $('#forcaDeslocamento').highcharts({
            chart: {
                type: 'spline',
                inverted: true
            },
            title: {
                text: 'Força por posição'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                reversed: false,
                title: {
                    enabled: true,
                    text: 'Força'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                },
                maxPadding: 0.05,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Posição'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                },
                lineWidth: 2
            },
            legend: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x} N: {point.y} '
            },
            plotOptions: {
                spline: {
                    marker: {
                        enable: false
                    }
                }
            },
            series: [{
                name: 'Tempo',
                data: {{ detalhamento_do_teste.graficoForcaDeslocamento }}
            }]
        });
    }

    // Esconde a imagem de loading
    function terminarLoaging() {
         $.LoadingOverlay("hide");
    }
document.getElementById('btn').onclick = function() {
          window.print();
        };

</script>
{% endblock %}