{% extends "app/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Histórico de Testes</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            
            <div class="panel-heading">
                Informações básicas
            </div>

            <div class="panel-body">
                <div class="dataTable_wrapper">

                    <!--Tabela com o histórico dos testes -->                  
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                      <thead>
                        <tr>
                            <th style="font-weight:bold">ID</th>
                            <th style="font-weight:bold">Nome</th>
                            <th style="font-weight:bold">Tempo Total</th>
                            <th style="font-weight:bold">Tempo Oscilação</th>
                            <th style="font-weight:bold">Data e Hora</th>
                            <th style="font-weight:bold">Observação</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for teste in lista_de_testes %}
                            <tr>
                                <th>{{teste.teste_id}}</th>
                                <th><a href="{% url 'detalharTeste' primary_key=teste.pk %}">{{teste.teste_nome}}</a></th> 
                                <th>{{teste.teste_tempo_total}}</th>
                                <th>{{teste.teste_tempo_oscilacao}}</th>
                                <th>{{teste.teste_data_hora}}</th>
                                <th>{{teste.teste_observacoes}}</th>
                            </tr>
                        {% endfor %}
                     </tbody>
                    </table>
                <!--/.Fim da tabela com o histórico dos testes --> 
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-8">
           
    </div>
</div>

{% endblock %}
{% block scripts%}
<script type="text/javascript">
    $(document).ready(function(){
        $('#dataTables-example').DataTable();
    });
</script>
{% endblock %}
