{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<div class="col-lg-12">
            <label>Busca:  <input text class="form-control" id="busca" name="busca"  ></label>
</div>

<table class="table table-striped">
                <tr>
                    <th style="font-weight:bold">ID</th>
                    <th style="font-weight:bold">Nome</th>
                    <th style="font-weight:bold">Tempo Total</th>
                    <th style="font-weight:bold">Tempo Oscilação</th>
                    <th style="font-weight:bold">Data e Hora</th>
                    <th style="font-weight:bold">Observação</th>
                </tr>

                {% for teste in lista_de_testes %}
                    <tr>
                        <th>{{teste.teste_id}}</th>
                        <th><a href="/grafico/">{{teste.teste_nome}}</a></th>
                        <th>{{teste.teste_tempo_total}}</th>
                        <th>{{teste.teste_tempo_oscilacao}}</th>
                        <th>{{teste.teste_data_hora}}</th>
                        <th>{{teste.teste_observacoes}}</th>
                    </tr>
                {% endfor %}
            </table>

{% endblock %}
