<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bancada de Teste de Amortecedores</title>

    {% load staticfiles %}
    
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'app/content/bootstrap.min.css' %}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="{% static 'app/content/sb-admin-2.css' %}"rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="{% static 'app/content/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- jQuery -->
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'app/scripts/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'app/scripts/sb-admin-2.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Bancada de Teste de Amortecedores [Logo]</a>
            </div>
            <!-- /.navbar-header -->

            <!-- Menu inicial - HEADER - Inicio -->
            <ul class="nav navbar-top-links navbar-right">
           		<li>
           			Bem Vindo <b>{{ user.username }}</b>!
           		</li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> Novo teste manual
                                    <span class="pull-right text-muted small">há 4 minutos</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Outros Alertas</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->


                <!-- Dropdown do usuário -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil do Usuário</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <!-- Menu inicial - HEADER - Fim -->


            <!-- Menu lateral - ESQUERDO - Inicio -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            	 <center><h5>Busca Rápida de Teste: </h5></center>
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="[Insira uma data]">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Iniciar Teste<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'iniciarTesteVelocidadeFixa' %}">Por Velocidade Fixa</a>
                                </li>
                                <li>
                                    <a href="{% url 'iniciarTesteVelocidadeVariavel' %}">Por Velocidade Variável</a>
                                </li>
                                <li>
                                    <a href="{% url 'iniciarTesteTemperatura' %}">Por Temperatura</a>
                                </li><!--                                 <li>
                                    <a href="{% url 'iniciarTesteTemperatura' %}">Por Temperatura</a>
                                </li> -->
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="{%url 'historico'%}"><i class="fa fa-bar-chart fa-fw"></i> Histórico de Testes</a>
                        </li>
                        <li>
                            <a href="{% url 'historico' %}"><i class="fa fa-wrench fa-fw"></i> Histórico de Amortecedores</a>
                        </li>
                        <li>
                            <a href="#.html"><i class="fa fa-search fa-fw"></i> Buscar Teste</a>
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-edit fa-fw"></i> Licença da Bancada</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
            <!-- Menu lateral - ESQUERDO - Fim -->
        </nav>

        <!-- Conteúdo Central - Centro - Inicio -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Bancada de Teste de Amortecedores</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                       
                </div>
            </div>
    	</div>
        <!-- /#page-wrapper -->
        <!-- Conteúdo Central - Centro - Fim -->

    <!-- /#wrapper -->
    </div>

</body>

</html>
