{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
    	<center>
        	<h1 class="page-header">Bancada de Teste de Amortecedores</h1>
    	</center>
    	
    <div class="container">
        <div class="row">
            <div  class="col-xs-11">
                <h2 class="header text_h2"><center> Olá, bem vindo a <span class="span_h2">Bancada de Teste de Amortecedores Veiculares.</span> Esta aplicação dispõe das seguites funcionalidades:
                <h6>Você pode acessar as funcionalidades clicando sobre os textos a seguir, ou acessando o menor na lateral esquerda.</h6></h2>
                </center>
                <center>
                
                </center>
            </div>
        </div>

        <div class="row">
            <div  class="col-xs-6 col-md-3" style="margin:20px;">
                <center>
                <!--<a href="#" class="thumbnail">
                  <img src="../../static/app/images/box.png" alt="Box">
                </a>-->
                <h4><span class="span_h2">Iniciar um Teste de Velocidade Fixa</span></h4>
                <p>Você pode realizar um teste utilizando apenas de uma velocidade pré definida. Ao final do experimento, será gerado um relatório da execução.</p>                
                </center>
            </div>

            <div  class="col-xs-6 col-md-3" style="margin:20px;">
                <center>
                <h4><span class="span_h2">Iniciar um Teste de Velocidade Variável</span></h4>
                <p>Neste teste, você pode utilizar até três velocidades distintas e pré definidas. Ao final do experimento, será gerado um relatório da execução.</p>                
                </center>
            </div>

            <div  class="col-xs-6 col-md-3" style="margin:20px;">
                <center>
                <h4><span class="span_h2">Visualizar Testes Realizados</span></h4>
                <p>Aqui você poderá visualizar uma lista completa de todos os teste já realizado, para ver o relatório de um teste, basta clicar em cima dele.</p>                
                </center>
            </div>
        </div>

        <div class="row">
            <div  class="col-xs-6 col-md-3" style="margin:20px;">
                <center>
                <h4><span class="span_h2">Visualizar Amortecedores Testados</span></h4>
                <p>Aqui você poderá visualizar uma lista com todos os amortecedores utilizado, de acordo com o código fornecido durante o experimento.</p>                
                </center>
            </div>

            <div  class="col-xs-6 col-md-3" style="margin:20px;">
                <center>
                <h4><span class="span_h2">Buscar por Teste Realizados ou Amortecedores Testados</span></h4>
                <p>Você pode utilizá-la para encontrar algum teste executado, de acordo nome dado ao testar, ou para encontrar algum amortecedor que já foi testado, de acordo com o código dado ao iniciar um teste.</p>
                </center>
            </div>

            <div  class="col-xs-6 col-md-3" style="margin:20px;">
                <center>
                <h4><span class="span_h2">Visualizar Relatório de Teste</span></h4>
                <p>Você poderá visualizar um relatório completo contendo os dados básicos informados no experimento e outras informações como o coeficiente de amortecimento do amortecedor, a força aplicada, entre outros.</p> 
                </center>
            </div>
        </div>
            
    </div>
</div>





    	
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
         
    </div>
</div>

{% endblock %}