{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><center>Teste por Velocidade Fixa</center></h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Informações básicas</b>
            </div>
            <div class="panel-body">
                <form role="form" method="POST" name="FrmRecurso" autocomplete="off">
                    {%csrf_token %}
                    
                    <!-- Formulário do Amortecedor -->
                    {{formArm.non_field_errors}}
                    <h4 class="page-header"><span class="span_h2">Amortecedor</span></h4>

                    <div class="form-group row">
                    {{formArm.amortecedor_codigo.errors}}
                        <label class="col-sm-2 form-control-label" for="id_amortecedor_codigo">Código:</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="id_amortecedor_codigo" maxlength="45" name="amortecedor_codigo" type="text" placeholder="Insira o código do Amortecedor"/>
                            <p class="help-block">* Campo Obrigatório</p>
                        </div>
                         <div class="col-sm-7">
                            <p class="help-block" style="text-align: justify;">O código do amortecedor é o identificador único utilizado para buscar os testes realiados com diferentes amortecedor. Se estiver utilizando um amortecedor novo, defina um valor e o informe aqui, caso já tenha realizado outros testes com este amortecedor, insira o código cadastrado.</p>
                        </div>
                    </div>
                    
                     <div class="form-group row">
                        {{ form.amortecedor_diametro_externo.errors }}
                        <label class="col-sm-2 form-control-label" for="id_amortecedor_diametro_externo">Tamanho do Diâmetro Externo:</label>
                        <div class="col-xs-3">
                            <input class="form-control" id="id_amortecedor_diametro_externo" name="amortecedor_diametro_externo" type="number" value="10" size="2" maxlength="2" min="2" max="100"/>
                        </div>
                        <div class="col-sm-7">
                            <p class="help-block" style="text-align: justify;">Valor do Diametro Externo do Amortecedor dado em <span style="text-decoration:underline;">centímetros (cm)</span>, caso não o tenha, deixe o valor 0 como padrão.</p>
                        </div>
                    </div>


                    <!-- Formulário do Teste -->
                    {{ form.non_field_errors }}
                    <h4 class="page-header"><span class="span_h2">Teste</span></h4>
                    <div class="form-group row">
                        {{ form.teste_nome.errors }}
                        <label class="col-sm-2 form-control-label" for="id_teste_nome">Nome:</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="id_teste_nome" maxlength="45" name="teste_nome" type="text" placeholder="Insira um nome para este Teste" />
                            <p class="help-block">* Campo Obrigatório</p>
                        </div>
                        <div class="col-sm-7">
                            <p class="help-block" style="text-align: justify;">O Nome do teste é utilizado para recuperar, durante uma busca, por testes já realizados. Utilize nomes significativos como: Teste_Amort510_Velocidade_225  </p>
                        </div>
                    </div>

                    <div class="form-group row">
                     {{ form.teste_quantidade_ciclo.errors }}
                        <label class="col-sm-2 form-control-label" for="id_teste_quantidade_ciclo">Quantidade de Ciclo:</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="id_teste_quantidade_ciclo" name="teste_quantidade_ciclo" type="number" value="5" size="2" maxlength="2" min="3" max="20"/>
                        </div>
                        <div class="col-sm-7">
                            <p class="help-block" style="text-align: justify;">A quantidade de ciclos define quantos rotações o motor deverá realizar para executar o teste. Assuma que para um ciclo, o motor deve rotacionar uma volta completa em seu eixo (Diametro do Eixo: 25cm)</p>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        {{ form.amortecedor_curso.errors }}   
                        <label class="col-sm-2 form-control-label" for="id_amortecedor_curso">Curso:</label>
                        <div class="col-sm-3">
                            <select id="curso" name="curso" class="form-control">
                            <option value="10.0" selected="selected" style="width:132px;">10 cm</option>
                            <option value="12.5">12.5 cm</option>
                            <option value="15.0">15 cm</option>
                            </select> 
                        </div>
                        <div class="col-sm-7">
                            <p class="help-block" style="text-align: justify;">O curso é definido de acordo com deslocamento configurado no amortecedor. <span style="text-decoration:underline; color:red">CUIDADO:</span> Ao selecionar um valor, certifique-se, antes de iniciar o teste, que o curso da bancada está correpondente.</p>
                        </div>
                    </div>

                    <div class="form-group row">
                     {{ form.testeVF_velocidade.errors }}
                        <label class="col-sm-2 form-control-label" for="id_testeVF_velocidade">Velocidade linear máxima:</label>
                        <div class="col-sm-3">
                            <select id="testeVF_velocidade" name="testeVF_velocidade" class="form-control">
                            <option value="225" selected="selected">225 mm/segundo</option>
                            <option value="200">200 mm/segundo</option>
                            <option value="175">175 mm/segundo</option>
                            </select>
                        </div>
                        <div class="col-sm-7">
                            <div id="box-toggle">
                                <p class="help-block" style="text-align: justify;">Este campo corresponde a velocidade que será utilizada na execução do teste. Você pode selecionar apenas 1 velocidade. A tabela, disponível no <i>link</i> a seguir, relaciona os valores das velocidades lineares com os valores das velocidades do motor.
                                <div class="tgl">
                                    <table class="velocidade">
                                        <tr class="table-velocidade">
                                            <th class="table-velocidade"></th>
                                            <th class="table-velocidade">Curso de 10cm</th>
                                            <th class="table-velocidade">Curso de 12,5cm</th>
                                            <th class="table-velocidade">Curso de 15cm</th>
                                        </tr>
                                        <tr class="table-velocidade">
                                            <td class="table-velocidade" colspan="4"> Velocidade Linear 225 mm/s</td>
                                        </tr>
                                        <tr class="table-velocidade">
                                            <td class="table-velocidade">Velocidade do<br>Amortecedor (rpm)</td>
                                            <td class="table-velocidade">1350</td>
                                            <td class="table-velocidade">1074,46</td>
                                            <td class="table-velocidade">873,78</td>
                                        </tr>
                                        <tr class="table-velocidade">
                                            <td class="table-velocidade" colspan="4">Velocidade Linear 200 mm/s</td>
                                        </tr>
                                        <tr class="table-velocidade">
                                            <td class="table-velocidade">Velocidade do<br>Amortecedor (rpm)</td>
                                            <td class="table-velocidade">1199,24</td>
                                            <td class="table-velocidade">955,15</td>
                                            <td class="table-velocidade">776,66</td>
                                        </tr>
                                        <tr class="table-velocidade">
                                            <td class="table-velocidade" colspan="4">Velocidade Linear 175 mm/s</td>
                                        </tr>
                                        <tr class="table-velocidade">
                                            <td class="table-velocidade">Velocidade do<br>Amortecedor (rpm)</td>
                                            <td class="table-velocidade">1049,38</td>
                                            <td class="table-velocidade">835,83</td>
                                            <td class="table-velocidade">679,54</td>
                                        </tr>
                                    </table>
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group row">
                    {{ form.teste_observacoes.errors }}
                        <label class="col-sm-2 form-control-label" for="id_teste_observacoes">Observações:</label>
                        <div class="col-sm-5">
                            <textarea cols="40" id="id_teste_observacoes" maxlength="255" name="teste_observacoes" rows="10" class="form-control" placeholder="Insira informações adicionais"></textarea>
                        </div>
                        <div class="col-md-5">
                            <p class="help-block" style="text-align: justify;">Insira aqui os valores que achar pertinentes para seu teste. </p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-offset-2 col-sm-10">
                            <center><input id="id_enviar" class="btn btn-primary" type="submit" name="enviar" value="Iniciar Teste" style="margin:10px; width:275px; height: 50px"></center>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-8">
           
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>

jQuery.fn.toggleText = function(a,b) {
return   this.html(this.html().replace(new RegExp("("+a+"|"+b+")"),function(x){return(x==a)?b:a;}));
}

$(document).ready(function(){
$('.tgl').before('<span>Clique aqui para exibir a tabela.</span>');
$('.tgl').css('display', 'none')
$('span', '#box-toggle').click(function() {
$(this).next().slideToggle('slow')
.siblings('.tgl:visible').slideToggle('fast');
// aqui começa o funcionamento do plugin
$(this).toggleText('exibir','ocultar')
.siblings('span').next('.tgl:visible').prev()
.toggleText('exibir','ocultar')
});
})

$.ajax({
    url: "/json/nomeAmortecedor",
    success: function(json) {
        
        $(function() {

            $( "#id_amortecedor_codigo" ).autocomplete({
                source: json.nomes,
                close: function(){
                    this.blur();
                }
            });
        });
    }
});


    $("#id_amortecedor_codigo").blur(function(){
         // Para fazer a consulta, removemos tudo o que não é número do valor informado pelo usuário
         var ar = this.value;

         var url = "/json/amortecedor/"+ar;
     
        $.getJSON(url, function(dadosRetorno){
             try{
                 // Insere os dados em cada campo

                 //$("#id_amortecedor_diametro_externo_"+dadosRetorno.amortecedor_diametro_externo).attr('checked', true);
                 //$("#id_amortecedor_curso_"+dadosRetorno.amortecedor_curso).attr('checked', true);
                 //$(':radio').attr('disabled', true);
                 if (dadosRetorno.erro) {
                     $("#id_amortecedor_diametro_externo").prop('readonly', false);
                     //$("#id_amortecedor_curso").prop('readonly', false);
                     //$(':radio').attr('disabled', false);
                 }else{
                     $("#id_amortecedor_diametro_externo").val(dadosRetorno.amortecedor_diametro_externo);
                     //$("#id_amortecedor_curso").val(dadosRetorno.amortecedor_curso);
                     $("#id_amortecedor_diametro_externo").prop('readonly', true);
                     //$("#id_amortecedor_curso").prop('readonly', true);
                 }
             }catch(ex){
             
             }
        });
     });
</script>
{% endblock %}
