<!DOCTYPE html>
<html lang="en">
    
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bancada de Teste de Amortecedores</title>

    {% load staticfiles %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'app/content/bootstrap.min.css' %}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="{% static 'app/content/sb-admin-2.css' %}"rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="{% static 'app/content/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- DataTables CSS -->
    <link href="{% static 'app/content/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- jQuery -->
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'app/scripts/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'app/scripts/sb-admin-2.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="../../static/app/images/nome_logo_1.png" alt="Home Page" width="530px" height="25px" >
                </a>
            </div>
            <!-- /.navbar-header -->

            <!-- Menu inicial - HEADER - Inicio -->
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    Bem Vindo <b>{{ user.username }}</b>!
                </li>

                <!-- Dropdown do usuário -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% include 'app/loginParte.html' %}
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>


            <!-- /.navbar-top-links -->
            <!-- Menu inicial - HEADER - Fim -->

            <!-- Menu lateral - ESQUERDO - Inicio -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Iniciar Teste<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'iniciarTesteVelocidadeFixa' %}">Por Velocidade Fixa</a>
                                </li>
                                <li>
                                    <a href="{% url 'iniciarTesteVelocidadeVariavel' %}">Por Velocidade Variável</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="{% url 'historico'%}"><i class="fa fa-bar-chart fa-fw"></i> Histórico de Testes</a>
                        </li>
                        <li>
                            <a href="{% url 'amortecedorHistorico'%}"><i class="fa fa-wrench fa-fw"></i> Histórico de Amortecedores</a>
                        </li>
                        <li>
                            <a href="{% url 'sobre'%}"><i class="fa fa-edit fa-qfw"></i> Sobre a Bancada</a>
                        </li>
                        
                        <a class="navbar-brand" href="/">
                         <img src="../../static/app/images/btav-logo-fundo-claro.png" alt="Home Page" width="230" height="100" >
                         </a>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
            <!-- Menu lateral - ESQUERDO - Fim -->
                      
         </nav>


    
    <script src="{% static 'app/scripts/loadingoverlay.js' %}"></script>
    <script src="{% static 'app/scripts/loadingoverlay.min.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/highcharts.js' %}"></script>
    <script src="{% static 'app/scripts/modules/exporting.js' %}"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <!-- DataTables CSS -->
    <script src="{% static 'app/scripts/jquery.dataTables.min.js' %}"></script>
   
            <!-- Conteúdo Central - Centro - Inicio -->
        <div id="page-wrapper">

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->
        <!-- Conteúdo Central - Centro - Fim -->
<!--Footer-->
<div style="border:4px solid; border-color:black">
</div>
<div class="panel panel-default" style="background:#FF530D;">
  <div class="panel-body" >
    <center>
    <a class="navbar-brand" href="/">
        <img src="../../static/app/images/amortecedor_logo_footer.png" alt="Home Page" width=200px height=auto >
    </a>
    Aplicação desenvolvida em Julho de 2016 por [Augusto Modesto, Crístovão Frinhani e Maria Luciene Felix] Copyright © 2016. All Rights Reserved.
    <br><br>
    Mais informações sobre a Bancada <a href="{% url 'sobre'%}"><b>AQUI</b></a>.


    </center>
  </div>
</div>

</div>
</body>
</html>
