{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <center>
            <h1 class="page-header"> Sobre a Bancada</h1>
        </center>
    </div>
</div>
        
    <div class="container">
        <div class="row">
            <div class="col-xs-11">
                <h2 class="header text_h2"><center>O projeto <span class="span_h2">Bancada de Teste de Amortecedores Veiculares</span> visa prover informações de amortecedores veiculares leves para o usuário da bancada a partir de testes empíricos. Ele foi idealizado por uma Equipe de Estudantes de Engenharia na disciplina <span class="span_h2">Projeto Integrador de Engenharias II</span> pela Universidade de Brasília.</center></h2>
            <br>
            <div class="media">
                 <a href="#" class="media-left media-middle">
                    <img class="media-object" alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/"/>
                 </a>
                <div class="media-body">
                    <h2 class="media-heading">
                        <span class="span_h2">Definição do Problema</span>
                    <h4 class="col-md-11" style="text-align:justify;">Existe uma dificuldade de obter de forma práticas as seguintes informações: gráfico de força por velocidade que fornece o coeficiente de amortecedor e a temperatura, as quais são necessárias para caracterizar o amortecedor e auxiliar em projeto de suspensão automotivas. Isso pode afetar o dimensionamento da suspensão e consequentemente o conforto e estabilidade do veículo. Cujo impacto é o aumento de custo do projeto e a redução da segurança do veículo. </h4></h2>
                </div>
            </div><br>

            <div class="media">
                 <a href="#" class="media-left media-middle">
                    <img class="media-object" alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/"/>
                 </a>
                <div class="media-body">
                    <h2 class="media-heading">
                        <span class="span_h2">Objetivo do Projeto</span>
                    <h4 class="col-md-11" style="text-align:justify;">O objetivo deste projeto é a criação de uma bancada para teste de amortecedores, para veículos leves de quatro rodas, visando fornecer informações como coeficiente de amortecimento e força aplicada ao amortecedor, e consequentemente, auxiliar interessados na obtenção dessas informações de maneira empírica. </h4></h2>
                </div>
            </div><br>

            <div class="media">
                 <a href="#" class="media-left media-middle">
                    <img class="media-object" alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/"/>
                 </a>
                <div class="media-body">
                    <h2 class="media-heading">
                        <span class="span_h2">Informações Técnicas</span>
                    <h4 class="col-md-11" style="text-align:justify;">
                        Versão: 1.0 Copyright<br>
                        Universidade de Brasília - FGA<br>
                        Descrição: Software para bancada de teste de amortecedores de veículos leves.<br>

                        Em caso de ocorrência de algum erro, contatar o fabricante:<br>
                        Augusto, Crístovão ou Maria<br>
                        {augusto.modestoo, cristovao.frinhani, marialucienefelix}@gmail.com
                    </h4></h2>
                </div>
            </div><br>
        </div>
    </div>        
</div>  

{% endblock %}